@model CorsoViewModel 
<h1>Inserisci nuovo Corso</h1>

<form>
    <div class="form-group">
        <label asp-for="CodiceCorso" class="form-control"/>
        <span asp-validation-for="CodiceCorso" class="text-danger"></span>

    </div>
</form> 