@model DocenteViewModel

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Nome</td>
            <td>@Model.EMail </td>
            <td>@Model.Telefono</td>
        </tr>
    </tbody>
</table>